body {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    background-image: url(../homeimg/backgroundhome.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
}

.navbar {
    width: 100%;
    padding: 0px;
    background-color: #333333;

    display: flex;
    justify-content: flex-start; /* flex-start: alinear a la izquierda, center: centrar, space-between: espacio entre los elementos */
    align-items: center; /* align-items: center: alinear verticalmente al centro, flex-start: alinear arriba, flex-end: alinear abajo */

    position: sticky;
    top: 0;
    left: 0;

    z-index: 1000;       /* Para que quede encima del contenido */
}

.menu {
    flex-grow: 1; /* Hacer que el menú ocupe todo el espacio disponible */
    display: flex;
    justify-content: center; /* Centrar el menú */
    width: 99%;
}

.menu ul {
    margin: 0;
    padding: 15px 25px;
    list-style: none;
    display: flex;
    gap: 15px;     /* Espacio entre los elementos de la lista */

}

.menu a {
    padding: 1px 5px;
    text-decoration: none;
    color: white;
    background-color: #000000;
    font-size: 18px;
    text-align: center;
    font-family: Impact, "Arial Black", Arial, sans-serif;

    transition: color 0.3s ease;
}

.menu a.active {
    color: white;
    background-color: #ff0000; /* Color al pasar el ratón */
}

.menu a:hover {
    background-color: #333333; /* Color al pasar el ratón */
    color: #ff0000;
}

.contenido h1,
.contenido h2,
.contenido h3,
.contenido h4 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #000000;
    font-family: Impact, "Arial Black", Arial, sans-serif;
}

.contenido p {
  margin-bottom: 14px;
  line-height: 1.6;
  font-family: "Arial", Arial, sans-serif;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}