body {
    font-family: Arial, sans-serif; /* Configurar fuente del cuerpo del documento */
    margin: 0; /* Eliminar margen predeterminado del cuerpo */
    padding: 0; /* Eliminar relleno predeterminado del cuerpo */
    background-image: url(../imghome/wallpaper.jpg);
    background-color: white;
    background-size:contain;
}
#head {
    position: sticky; top: 0;
    background-color: rgba(255, 255, 255, 0);
    overflow:auto; /* Habilitar desplazamiento automático si el contenido desborda */
    background-color: #333333; /* Color de fondo de la barra de navegación */

    ul {
        list-style-type: none; /*Quitar viñetas de lista desordenada en CSS*/
        margin: 0;
        padding: 0;
        background-color: #333333; /*// Configurar color de fondo de la lista*/
        display: flex; /*Usar flexbox para alinear los elementos de la lista horizontalmente*/
        justify-content: center; /*Centrar los elementos de la lista horizontalmente*/
        /*width: 200px; Configurar ancho de la lista*/
    }
    /*
    ul li {
        float: left; Alinear los elementos de la lista horizontalmente
    }
    */
    ul li a {
        display: block; /*Hacer que los enlaces se comporten como bloques*/
        color: white;
        padding: 8px 16px; /*Agregar 8px de espacio arriba y abajo, 16px a los lados*/
        text-decoration: none; /*Retirar subrayado de los atributos "a"*/
        text-align: center; /*Centrar el texto dentro de los atributos "a"*/
        /*background-color: aqua; // Configurar color de fondo los atributos "a"*/
    }
    ul li a:hover:not(.active) { /* Change the link and background color on hover */
    background-color: #111111;
    color: white;
    }
    ul li a.active {
        background-color: #af534c;
        color: white;
    }
}
footer {
    background-color: #333333; /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    text-align: center; /* Centrar el texto del pie de página */
    padding: 10px 0; /* Agregar relleno arriba y abajo del pie de página */
    bottom: 0; /* Alinear el pie de página al fondo de la ventana */
    width: 100%; /* Hacer que el pie de página ocupe todo el ancho */
}