        body {
            background-color: rgb(255, 255, 255);
        }


        table caption {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size: 70px;
            color: white;
            font-weight: bold;
            text-align: center;
            background: linear-gradient(to right, #1f35b0, #af2b9f, #ff5b00);
            padding: 25px 0;
        }

        img {
            align-items: center;
        }
        h1  {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-style: initial;
        }
        h2 {
            text-align: center;
        }
        table{
        border-collapse: collapse;
        text-align: center;
        width: 90%;
        margin: auto;
        }
        th, td {
        border: 1px solid #ccc;
        padding: 15px;
        }
        thead {
            background: #e5e7eb;
        }
        td {
            font-style: normal;
        }

        .SGE { background: #99f6e4; }
        .BD { background: #d8b4fe; }
        .PROGRA { background: #a7f3d0; }
        .DISS { background: #fde68a; }
        .SI { background: #bfdbfe; }
        .IPO { background: #fecaca; }
        .ED { background: #99f6e4; }
        .DASP { background: #f9a8d4; }
        .LM { background: #e9d6fd; }
        .pat {
            background: #f3f4f6;
            font-style: italic;
            font-weight: bold;
        }
        th:hover {background-color: #0c6eeec5;}
        td:hover {background-color: #ee850c8c;}
        td:first-child {
            vertical-align: top;
            padding: 10px;
        }